@model Registration
@{
    ViewData["Title"] = "DisplayRegistrationData";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
</head>
<body>
    <h1>@ViewBag.DefaultMessage</h1>
    <h3>
        @ViewBag.Message
    </h3>


</body>
</html>


